* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background:#000;
  color:#eee;
  font-family:'Arial', sans-serif;
  text-align:center;
  overflow-x:hidden;
}

/* 标题 */
.site-title {
  font-size:60px;
  font-weight:bold;
  padding:40px 0 20px;
  color:#f5c542;
  text-shadow:2px 2px 5px #222;
  white-space:nowrap;
}

.site-title a {
  color:#f5c542;
  text-decoration:none;
}

/* 手机自动变小 */
@media (max-width:600px) {
  .site-title {
    font-size:36px;
    padding:28px 0 16px;
  }
}
